altgraph==0.15
atomicwrites==1.1.5
attrs==18.1.0
colorama==0.3.9
cx-Freeze==5.1.1
future==0.16.0
macholib==1.9
more-itertools==4.2.0
pefile==2017.11.5
pluggy==0.6.0
py==1.5.4
pygame==1.9.3
pypiwin32==223
pytest==3.6.3
PyTMX==3.21.5
pywin32==223
six==1.11.0
